html, body {
  height: 100%;
  width: 100%;
  margin-top: 0;
  margin-left: 0;
}
.menu{
  height: 50px;
  right: 100%;
  background-color: black;
  display: flex;
  justify-content: space-between;
}
.sunny{
  font-family: arial;
  font-weight: bold;
  color: white;
}
.sobre{
  display: inline-block;
  font-family: arial;
  font-weight: bold;
  color: white; 
}
.part1{
  height: 700px;
  right: 100%;
  background-color: black;
  display: flex;
  justify-content: center;
  color: white;
  
}
img {
  margin-top: 200px;
  
}
.part2 {
display: grid;
grid-template-columns: repeat(2, 1fr);
grid-template-rows: repeat(3, 1fr);
grid-column-gap: 0px;
grid-row-gap: 0px;
}
.div1 { 
  background-color: #20b2aa;
  height: 400px;
  color: white;
  font-family: arial;
  font-weight: bold;
}
.div2 { 
  background-color: #3d85a9;
}
.div3 { 
  background-color: #1db7dd;
}
.div4 { 
  background-color: #345cad;
}
.div5 { 
  background-color: #78d2de;
}
.div6 { 
  background-color: #4a8a96;
}
.part3 {
display: grid;
grid-template-columns: repeat(4, 1fr);
grid-template-rows: repeat(1, 1fr);
grid-column-gap: 0px;
grid-row-gap: 0px;
}
.div11 { 
  background-color: #adc7d7;
  height: 400px;
}
.div12 { 
  background-color: #84a0ae;
}
.div13 { 
  background-color: #88c0ce;
}
.div14 { 
  background-color: #8198c5;
}
.part4 {
display: grid;
grid-template-columns: repeat(4, 1fr);
grid-template-rows: repeat(1, 1fr);
grid-column-gap: 0px;
grid-row-gap: 0px;
}
.div7 { 
  background-color: #074a74;
  height: 300px;
}
.div8 { 
  background-color: #3d85a9;
}
.div9 { 
  background-color: #1db7dd;
}
.div10 { 
  background-color: #345cad;
}
.rodape{
  height: 250px;
  right: 100%;
  background-color: #1a4c66;
}


@media (max-width: 600px)
{
  .part2 {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(6, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
   }
  .part3 {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(6, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
   }
  .part4 {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
   }

}

