html, body {
  height: 100%;
  width: 100%;
  margin-top: 0;
  margin-left: 0;
}

.sunny{
  font-family: arial;
  font-weight: bold;
  color: white;
  align-items: center;
}
.main{
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #000000;
  width: 100%;
}
.sobrelink{
  display: inline-block;
  font-family: arial;
  font-weight: bold;
  color: black; 
  border: 3px solid #CCC;
  border-radius: 10px;
}
.contatolink{
  display: inline-block;
  font-family: arial;
  font-weight: bold;
  color: black; 
  border: 3px solid #CCC;
  border-radius: 10px;
}
.part1{
  height: 550px;
  right: 100%;
  background-color: black;
  display: flex;
  justify-content: center;
  color: white;
  
}
.img {
  margin-top: 50px;
  
}
.part2 {
display: grid;
grid-template-columns: repeat(2, 1fr);
grid-template-rows: repeat(3, 1fr);
grid-column-gap: 0px;
grid-row-gap: 0px;
}
.div1 { 
  background-color: #242828;
  height: 400px;
  color: white;
  font-family: arial;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
}
.div2 { 
  background-image: url(img/jupiterdiv.png);
  
}
.div3 { 
  background-image: url(img/images.jpg);
}
.div4 { 
  background-color: #345cad;
}
.div5 { 
  background-color: #78d2de;
}
.div6 { 
  background-color: #4a8a96;
}
.part3 {
display: grid;
grid-template-columns: repeat(4, 1fr);
grid-template-rows: repeat(1, 1fr);
grid-column-gap: 0px;
grid-row-gap: 0px;
}
.div11 { 
  background-color: #adc7d7;
  height: 400px;
}
.div12 { 
  background-color: #84a0ae;
}
.div13 { 
  background-color: #88c0ce;
}
.div14 { 
  background-color: #8198c5;
}
.part4 {
display: grid;
grid-template-columns: repeat(4, 1fr);
grid-template-rows: repeat(1, 1fr);
grid-column-gap: 0px;
grid-row-gap: 0px;
}
.div7 { 
  background-color: white; 
  height: 300px;
}
.div8 { 
  background-color: #074a74;
}
.div9 { 
  background-color: #3d85a9;
}
.div10 { 
  background-color: #1db7dd;
}
.div11 { 
  background-color: #345cad;
}
.rodape{
  height: 250px;
  right: 100%;
  background-color: #1a4c66;
}


@media (max-width: 600px)
{
  .part2 {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(6, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
   }
  .part3 {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(6, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
   }
  .part4 {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
   }

}

